$secondary-font: "Raleway", sans-serif;
$primary-color: #0e1b4d;
$button-color: #f82249;
$main-background: rgba(6, 12, 34, 0.98);
$main-white: #fff;
$second-white: #f6f7fd;
$main-grey: #9195a2;
$second-grey: #495057;
