* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #2f3138;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#header {
  background: rgba(6, 12, 34, 0.98);
  height: auto;
  padding: 15px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;
}

#header .header-container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#header .header-container .logo {
  float: left;
}

#header .header-container .logo a img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#header .header-container .logo a img:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#header #nav-menu {
  float: right;
  margin: 10px;
}

#header #nav-menu .menubtn {
  display: none;
}

#header #nav-menu .closebtn {
  display: none;
}

#header #nav-menu .menu li {
  margin-left: 8px;
  float: left;
}

#header #nav-menu .menu li a {
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: rgba(202, 206, 221, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  outline: none;
}

#header #nav-menu .menu li:first-child a {
  color: white;
}

#header #nav-menu .menu .buy a {
  color: #fff;
  background: #f82249;
  padding: 7px 22px;
  border-radius: 50px;
  border: 2px solid #f82249;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
}

#header #nav-menu .menu .buy a:hover {
  background: transparent;
}

#intro {
  width: 100%;
  height: 100vh;
  background: url(../img/intro-bg.jpg) top center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 15px;
  height: 100vh;
  background: rgba(6, 12, 34, 0.8);
}

#intro .intro-container h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}

#intro .intro-container h1 span {
  color: #f82249;
}

#intro .intro-container p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}

#intro .intro-container .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}

#intro .intro-container .play-btn:hover {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background: radial-gradient(#f0eaea 50%, rgba(101, 111, 150, 0.15) 52%);
}

#intro .intro-container .play-btn:hover .fa-play {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transition: 1s;
  transition: 1s;
  color: #f82249;
}

#intro .intro-container .play-btn .fa-play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: white;
}

#intro .intro-container .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  border: 2px solid #f82249;
}

#intro .intro-container .about-btn:hover {
  color: 2px solid #f82249;
  background-color: #f82249;
}

#about {
  background: url(../img/about-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  color: #fff;
}

#about .about-block {
  padding: 60px 0 40px 0;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 7rem;
  padding-left: 7rem;
  background: rgba(13, 20, 41, 0.8);
}

#about .about-block .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about .about-block .about-container .about-first-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

#about .about-block .about-container .about-first-item h2 {
  width: 90%;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

#about .about-block .about-container .about-first-item p {
  width: 90%;
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

#about .about-block .about-container .about-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

#about .about-block .about-container .about-item h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

#about .about-block .about-container .about-item p {
  width: 90%;
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

#speakers {
  padding: 60px 0 30px 0;
}

#speakers .speaker-container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#speakers .speaker-container .section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

#speakers .speaker-container .section-header :before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

#speakers .speaker-container .section-header > h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 0 0 20px 0;
  padding: 0;
  color: #0e1b4d;
}

#speakers .speaker-container .section-header > p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

#speakers .speaker-container .section-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#speakers .speaker-container .section-block .section-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
  padding-right: 10px;
  padding-left: 10px;
}

#speakers .speaker-container .section-block .section-item .details {
  -webkit-transition: 1s;
  transition: 1s;
  height: 6rem;
}

#speakers .speaker-container .section-block .section-item .details:hover {
  height: 8rem;
}

#speakers .speaker-container .section-block .section-item .speaker {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#speakers .speaker-container .section-block .section-item .speaker img {
  max-width: 100%;
  height: auto;
}

#speakers .speaker-container .section-block .section-item .speaker .details {
  background: rgba(6, 12, 34, 0.76);
  position: absolute;
  left: 0;
  bottom: -30px;
  right: 0;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

#speakers .speaker-container .section-block .section-item .speaker .details h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
}

#speakers .speaker-container .section-block .section-item .speaker .details p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  font-style: italic;
}

#speakers .speaker-container .section-block .section-item .speaker .details .social {
  height: 30px;
}

#speakers .speaker-container .section-block .section-item .speaker .details .social a {
  color: #fff;
}

#schedule {
  padding: 60px 0 30px 0;
  background-color: #f6f7fd;
}

#schedule .schedule-container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#schedule .schedule-container .schedule-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

#schedule .schedule-container .schedule-header ::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

#schedule .schedule-container .schedule-header > h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0e1b4d;
}

#schedule .schedule-container .schedule-header > p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

#schedule .schedule-container .days {
  text-align: center;
  margin: auto;
  border-bottom: 0;
  margin-bottom: 30px;
}

#schedule .schedule-container .days .day-item:first-child a {
  background-color: #f82249;
  color: #fff;
}

#schedule .schedule-container .days .day-item {
  display: inline-block;
}

#schedule .schedule-container .days .day-item a {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  background-color: #0e1b4d;
  color: #fff;
  padding: 10px 100px;
}

#schedule .schedule-container .sub-heading {
  width: 75%;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 0 auto 30px auto;
  color: #0e1b4d;
}

#schedule .schedule-container .schedule-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#schedule .schedule-container .schedule-block .schedule-item {
  border-bottom: 1px solid #cad4f6;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#schedule .schedule-container .schedule-block .schedule-item .time {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16%;
          flex: 0 0 16%;
  max-width: 16%;
}

#schedule .schedule-container .schedule-block .schedule-item .speaker-schedule {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 84%;
          flex: 0 0 84%;
  max-width: 84%;
}

#schedule .schedule-container .schedule-block .schedule-item .speaker-schedule h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #0e1b4d;
}

#schedule .schedule-container .schedule-block .schedule-item .speaker-schedule h4 span {
  font-style: italic;
  color: #19328e;
  font-weight: normal;
  font-size: 16px;
}

#schedule .schedule-container .schedule-block .schedule-item .speaker-schedule p {
  font-style: italic;
  color: #152b79;
  margin-bottom: 0;
}

#schedule .schedule-container .schedule-block .schedule-item .speaker-schedule .speaker-schedule-img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 0 10px 10px 0;
}

#schedule .schedule-container .schedule-block .schedule-item .speaker-schedule .speaker-schedule-img img {
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 50%;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#venue {
  padding: 60px 0;
}

#venue .venue-container {
  margin-bottom: 3px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#venue .venue-container .venue-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

#venue .venue-container .venue-header ::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

#venue .venue-container .venue-header > h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0e1b4d;
}

#venue .venue-container .venue-header > p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

#venue .venue-container .map-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
}

#venue .venue-container .map-block .map {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

#venue .venue-container .map-block .map iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

#venue .venue-container .map-block .venue-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  height: auto;
  background: url(../img/venue-info-bg.jpg) top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

#venue .venue-container .map-block .venue-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  content: "";
  background: rgba(13, 20, 41, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#venue .venue-container .map-block .venue-info > div > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
  max-width: 66%;
}

#venue .venue-container .map-block .venue-info > div > div h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 20px 0;
}

#venue .venue-container .map-block .venue-info > div > div p {
  color: #fff;
  margin-bottom: 0;
}

#venue .venue-container .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#venue .venue-container .gallery-container .gallery-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

#venue .venue-container .gallery-container .gallery-item img {
  max-width: 100%;
  height: auto;
}

#venue .venue-container .gallery-container .gallery-item img:hover {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#hotels {
  padding: 60px 0;
}

#hotels .hotels-container {
  margin-bottom: 3px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#hotels .hotels-container .hotels-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

#hotels .hotels-container .hotels-header ::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

#hotels .hotels-container .hotels-header > h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0e1b4d;
}

#hotels .hotels-container .hotels-header > p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

#hotels .hotels-container .hotel-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hotels .hotels-container .hotel-block .hotel {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  max-width: 33%;
  border: 1px solid #e0e5fa;
  background: #fff;
  margin-bottom: 30px;
}

#hotels .hotels-container .hotel-block .hotel .hotel-img {
  margin-bottom: 15px;
}

#hotels .hotels-container .hotel-block .hotel .hotel-img img {
  max-width: 100%;
  height: auto;
}

#hotels .hotels-container .hotel-block .hotel .hotel-img img:hover {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#hotels .hotels-container .hotel-block .hotel h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 0 20px;
}

#hotels .hotels-container .hotel-block .hotel h3 a {
  color: #152b79;
  text-decoration: none;
}

#hotels .hotels-container .hotel-block .hotel .stars {
  padding: 0 20px;
  margin-bottom: 5px;
}

#hotels .hotels-container .hotel-block .hotel .stars .fa-star {
  color: #ffc31d;
}

#hotels .hotels-container .hotel-block .hotel .stars .fa-star-half-full {
  color: #ffc31d;
}

#hotels .hotels-container .hotel-block .hotel p {
  padding: 0 20px;
  margin-bottom: 20px;
  color: #060c22;
  font-style: italic;
  font-size: 15px;
}

#gallery {
  overflow-x: hidden;
  padding: 60px 0;
}

#gallery .gallery-container {
  margin-bottom: 3px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#gallery .gallery-container .gallery-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

#gallery .gallery-container .gallery-header ::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

#gallery .gallery-container .gallery-header > h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0e1b4d;
}

#gallery .gallery-container .gallery-header > p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

#gallery .gallery-container .carusel-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: visible;
  width: 1900px;
  -webkit-transform: translate3d(-400px, 0px, 0px);
          transform: translate3d(-400px, 0px, 0px);
}

#gallery .gallery-container .carusel-block .carusel-item {
  width: 236.4px;
}

#gallery .gallery-container .carusel-block .carusel-item img {
  display: block;
  width: 95%;
}

#gallery .gallery-container .dots-block {
  margin-top: 25px;
  text-align: center;
}

#gallery .gallery-container .dots-block .dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#gallery .gallery-container .dots-block .dot-active {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f82249;
}

#sponsors {
  padding: 60px 0;
  background-color: #f6f7fd;
}

#sponsors .sponsors-container {
  margin-bottom: 3px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#sponsors .sponsors-container .sponsors-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

#sponsors .sponsors-container .sponsors-header ::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

#sponsors .sponsors-container .sponsors-header > h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0e1b4d;
}

#sponsors .sponsors-container .sponsors-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
}

#sponsors .sponsors-container .sponsors-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  cursor: pointer;
}

#sponsors .sponsors-container .sponsors-item:hover img {
  max-width: 100%;
}

#sponsors .sponsors-container .sponsors-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}

#sponsors .sponsors-container .sponsors-logo > img {
  max-width: 80%;
  height: auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#faq {
  padding: 60px 0;
}

#faq .faq-container {
  margin-bottom: 3px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#faq .faq-container .faq-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

#faq .faq-container .faq-header ::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

#faq .faq-container .faq-header > h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0e1b4d;
}

#faq .faq-container .faq-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#faq .faq-container .faq-block .faq-list {
  width: 70%;
}

#faq .faq-container .faq-block .faq-list li {
  border-bottom: 1px solid #ddd;
}

#faq .faq-container .faq-block .faq-list li a {
  color: #000;
  padding: 18px 0;
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  padding-right: 20px;
  cursor: pointer;
}

#faq .faq-container .faq-block .faq-list li a .fa-plus-circle {
  display: block;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 16px;
}

#faq .faq-container .faq-block .faq-list li a .fa-minus-circle {
  display: none;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 16px;
}

#faq .faq-container .faq-block .faq-list li div {
  display: none;
}

#faq .faq-container .faq-block .faq-list li div p {
  margin-bottom: 20px;
  font-size: 13px;
}

#subscribe {
  padding: 60px;
  background: url(../img/subscribe-bg.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 30vh;
}

#subscribe .subscribe-container {
  margin-bottom: 3px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  content: "";
  background: rgba(6, 12, 34, 0.6);
  position: absolute;
  bottom: -10px;
  top: 0;
  left: 0;
  right: 0;
}

#subscribe .subscribe-container .subscribe-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
  padding-top: 50px;
}

#subscribe .subscribe-container .subscribe-header ::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

#subscribe .subscribe-container .subscribe-header > h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

#subscribe .subscribe-container .subscribe-header > p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

#subscribe .subscribe-container .form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#subscribe .subscribe-container .form-block div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none;
  padding-right: 5px;
  padding-left: 5px;
}

#subscribe .subscribe-container .form-block div input {
  min-width: 400px;
  background: #fff;
  color: #060c22;
  border: 0;
  outline: none;
  margin: 0;
  padding: 9px 20px;
  border-radius: 50px;
  font-size: 14px;
}

#subscribe .subscribe-container .form-block div button {
  padding: 9px 25px;
  cursor: pointer;
  background: #f82249;
  border-color: #f82249;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  font-size: 14px;
  border-radius: 50px;
}

#subscribe .subscribe-container .form-block div button:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background: transparent;
}

#tickets {
  padding: 60px 0;
  background-color: #f6f7fd;
}

#tickets .tickets-container {
  margin-bottom: 3px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#tickets .tickets-container .tickets-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

#tickets .tickets-container .tickets-header ::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

#tickets .tickets-container .tickets-header > h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0e1b4d;
}

#tickets .tickets-container .tickets-header > p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

#tickets .tickets-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 3rem;
}

#tickets .tickets-container .card .card-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
          box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
}

#tickets .tickets-container .card .card-body h3 {
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 0.7;
}

#tickets .tickets-container .card .card-body h2 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #0e1b4d;
}

#tickets .tickets-container .card .card-body hr {
  margin: 25px 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#tickets .tickets-container .card .card-body ul li {
  margin-bottom: 20px;
  position: relative;
}

#tickets .tickets-container .card .card-body ul li .fa-check {
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

#tickets .tickets-container .card .card-body ul .text-muted {
  opacity: 0.7;
}

#tickets .tickets-container .card .card-body ul .text-muted .fa-times {
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

#tickets .tickets-container .card .card-body div {
  text-align: center;
}

#tickets .tickets-container .card .card-body div button {
  font-size: 15px;
  border-radius: 50px;
  padding: 10px 40px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #f82249;
  border-color: #f82249;
  color: #fff;
  cursor: pointer;
  outline: none;
}

#tickets .tickets-container .card .card-body div button:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background: transparent;
  color: #f82249;
}

#contact {
  padding: 60px 0;
  background-color: #f6f7fd;
}

#contact .contact-container {
  margin-bottom: 3px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#contact .contact-container .contact-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

#contact .contact-container .contact-header ::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

#contact .contact-container .contact-header > h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0e1b4d;
}

#contact .contact-container .contact-header > p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

#contact .contact-container .contact-info {
  margin-bottom: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact .contact-container .contact-info .contact-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  max-width: 33%;
  padding: 20px 0;
}

#contact .contact-container .contact-info .contact-item h3 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #112363;
}

#contact .contact-container .contact-info .contact-item p {
  margin-bottom: 0;
  color: #112363;
}

#contact .contact-container .contact-form {
  width: 100%;
  text-align: center;
}

#contact .contact-container .contact-form .first-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem;
}

#contact .contact-container .contact-form .first-form-row div {
  width: 50%;
}

#contact .contact-container .contact-form .first-form-row div input {
  width: 95%;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 15px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px 5px;
}

#contact .contact-container .contact-form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

#contact .contact-container .contact-form .form-row div input {
  padding: 10px 10px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 15px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#contact .contact-container .contact-form .form-row input {
  padding: 10px 14px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 15px;
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

#contact .contact-container .contact-form .form-row textarea {
  padding: 17px 14px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 15px;
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

#contact .contact-container .contact-form button {
  background: #f82249;
  border-color: #f82249;
  padding: 10px 40px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

#contact .contact-container .contact-form button:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background: transparent;
  color: #f82249;
}

#links {
  background: #101522;
  color: #eee;
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
}

#links div {
  background: #040919;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#links div .event-block {
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#links div .event-block img {
  height: 40px;
}

#links div .event-block p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#links div .links-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 50%;
}

#links div .links-block h4 {
  font-family: "Raleway", sans-serif;
  margin: 0 0 20px 0;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 2px solid #f82249;
}

#links div .links-block ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

#links div .links-block ul li {
  border-bottom: 1px solid #262c44;
  padding: 10px 0;
}

#links div .links-block ul li .fa-angle-right {
  padding-right: 5px;
  color: #f82249;
  font-size: 18px;
}

#links div .links-block .social {
  color: #eee;
  font-size: 14px;
}

#links div .links-block .social a {
  font-size: 18px;
  display: inline-block;
  background: #222636;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#links div .links-block .social a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background: transparent;
  color: #f82249;
}

footer {
  background: #101522;
  color: #fff;
  text-align: center;
  padding: 3rem;
}

@media all and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .menubtn {
    display: inline !important;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 15px 15px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  .menubtn .fa-bars {
    color: white;
  }
  .menubtn .fa-bars:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  #nav-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 998;
    overflow-y: auto;
    width: 0;
    padding-top: 18px;
    background: rgba(6, 12, 34, 0.98);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  #nav-menu .menu .closebtn {
    display: inline !important;
    position: relative;
    left: 15rem;
    background: transparent;
    border: none;
    font-size: 24px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  #nav-menu .menu .closebtn .fa-times {
    display: block;
    color: white;
  }
  #nav-menu .menu .closebtn .fa-times:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  #nav-menu .menu li a {
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 75%;
    display: block;
    outline: none;
  }
  #intro .intro-container h1 {
    font-size: 34px;
  }
  #intro .intro-container p {
    font-size: 16px;
  }
  #about .about-block {
    padding-right: 20px;
    padding-left: 20px;
  }
  #about .about-block .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .about-block .about-container .about-first-item {
    max-width: 90%;
  }
  #about .about-block .about-container .about-item {
    max-width: 90%;
  }
  #speakers .speaker-container .section-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #speakers .speaker-container .section-block .section-item {
    max-width: 90%;
  }
  #schedule .schedule-container .days .day-item a {
    padding: 8px 45px;
  }
  #schedule .schedule-container .schedule-block {
    width: 100%;
  }
  #schedule .schedule-container .schedule-block .schedule-item {
    width: 90%;
  }
  #venue .venue-container .map-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #venue .venue-container .map-block .map {
    max-width: 100%;
  }
  #venue .venue-container .map-block .venue-info {
    max-width: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
  }
  #venue .venue-container .map-block .venue-info > div > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 90%;
  }
  #venue .venue-container .gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #venue .venue-container .gallery-container .gallery-item {
    padding-bottom: 10rem;
    max-width: 100%;
  }
  #venue .venue-container .gallery-container .gallery-item img {
    width: 100%;
  }
  #hotels .hotels-container .hotel-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #hotels .hotels-container .hotel-block .hotel {
    padding-bottom: 10rem;
    max-width: 100%;
  }
  #hotels .hotels-container .hotel-block .hotel .hotel-img img {
    width: 100%;
  }
  #gallery {
    overflow: hidden;
    padding: 60px 0;
  }
  #gallery .gallery-container {
    margin-bottom: 3px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  #gallery .gallery-container .gallery-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
  }
  #gallery .gallery-container .gallery-header ::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
  }
  #gallery .gallery-container .gallery-header > h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0e1b4d;
  }
  #gallery .gallery-container .gallery-header > p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
  }
  #gallery .gallery-container .carusel-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: visible;
    width: 2000px;
    -webkit-transform: translate3d(-800px, 0px, 0px);
            transform: translate3d(-800px, 0px, 0px);
  }
  #gallery .gallery-container .carusel-block .carusel-item {
    width: 13%;
    padding: 2px;
  }
  #gallery .gallery-container .carusel-block .carusel-item img {
    display: block;
    width: 100%;
  }
  #gallery .gallery-container .dots-block {
    margin-top: 25px;
    text-align: center;
  }
  #gallery .gallery-container .dots-block .dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }
  #gallery .gallery-container .dots-block .dot-active {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f82249;
  }
  #sponsors .sponsors-container .sponsors-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sponsors .sponsors-container .sponsors-block .sponsors-item {
    max-width: 100%;
  }
  #faq .faq-container .faq-block .faq-list {
    width: 90%;
  }
  #faq .faq-container .faq-block .faq-list li a {
    font-size: 18px;
  }
  #subscribe .subscribe-container .form-block div input {
    min-width: 10px;
  }
  #tickets .tickets-container .tickets-header p {
    text-align: center;
    padding: 15px;
  }
  #tickets .tickets-container .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #tickets .tickets-container .card .card-body {
    width: 100%;
  }
  #contact .contact-container .contact-info {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .contact-container .contact-info .contact-item {
    max-width: 100%;
  }
  #links > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #links > div .event-block {
    max-width: 95%;
  }
  #links > div .links-block {
    max-width: 95%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menubtn {
    display: inline !important;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 15px 15px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  .menubtn .fa-bars {
    color: white;
  }
  .menubtn .fa-bars:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .menubtn .fa-times {
    display: block;
    color: white;
  }
  .menubtn .fa-times:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  #nav-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 998;
    overflow-y: auto;
    width: 0;
    padding-top: 18px;
    background: rgba(6, 12, 34, 0.98);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  #nav-menu .menu .closebtn {
    display: inline !important;
    position: relative;
    left: 15rem;
    background: transparent;
    border: none;
    font-size: 24px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  #nav-menu .menu .closebtn .fa-times {
    display: block;
    color: white;
  }
  #nav-menu .menu li a {
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 75%;
    display: block;
    outline: none;
  }
}
/*# sourceMappingURL=style.css.map */