* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #2f3138;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

// @keyframes formbottom {
//   from {
//     bottom: -30;
//   }
//   to {
//     bottom: 5px;
//   }
// }

@mixin desktopMedia {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@mixin flexbox($way) {
  display: flex;
  flex: wrap;
  flex-direction: $way;
}

@mixin footBlock {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#header {
  background: rgba(6, 12, 34, 0.98);
  height: auto;
  padding: 15px 0;
  transition: all 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;

  .header-container {
    @include desktopMedia();

    .logo {
      float: left;

      a {
        img {
          padding: 0;
          margin: 0;
          max-height: 40px;
        }
      }
    }
  }

  #nav-menu {
    float: right;
    margin: 10px;

    .menubtn {
      display: none;
    }

    .closebtn {
      display: none;
    }

    .menu {
      li {
        margin-left: 8px;
        float: left;

        a {
          padding: 8px;
          text-decoration: none;
          display: inline-block;
          color: rgba(202, 206, 221, 0.8);
          font-family: "Raleway", sans-serif;
          font-weight: 600;
          font-size: 14px;
          outline: none;
        }
      }
      li:first-child a {
        color: white;
      }
      .buy {
        a {
          color: #fff;
          background: #f82249;
          padding: 7px 22px;
          border-radius: 50px;
          border: 2px solid #f82249;
          transition: all ease-in-out 0.3s;
          font-weight: 500;
          margin-left: 8px;
          margin-top: 2px;
          line-height: 1;
          font-size: 13px;
        }
      }
    }
  }
}

#intro {
  width: 100%;
  height: 100vh;
  background: url(../img/intro-bg.jpg) top center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

  .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
    height: 100vh;
    background: rgba(6, 12, 34, 0.8);

    h1 {
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-size: 56px;
      font-weight: 600;
      text-transform: uppercase;
      span {
        color: #f82249;
      }
    }
    p {
      color: #ebebeb;
      font-weight: 700;
      font-size: 20px;
    }
    .play-btn {
      width: 94px;
      height: 94px;
      background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
      border-radius: 50%;
      display: block;
      position: relative;
      overflow: hidden;
      .fa-play {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        color: white;
      }
    }
    .about-btn {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 32px;
      border-radius: 50px;
      transition: 0.5s;
      line-height: 1;
      margin: 10px;
      color: #fff;
      border: 2px solid #f82249;
    }
  }
}

#about {
  background: url(../img/about-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  color: #fff;

  .about-block {
    padding: 60px 0 40px 0;
    @include desktopMedia();
    padding-right: 7rem;
    padding-left: 7rem;
    background: rgba(13, 20, 41, 0.8);

    .about-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .about-first-item {
        flex: 0 0 50%;
        max-width: 50%;

        h2 {
          font-size: 36px;
          font-weight: bold;
          margin-bottom: 10px;
          color: #fff;
        }
        p {
          width: 90%;
          font-size: 14px;
          margin-bottom: 20px;
          color: #fff;
        }
      }
      .about-item {
        flex: 0 0 25%;
        max-width: 25%;

        h3 {
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 10px;
          color: #fff;
        }
        p {
          width: 90%;
          font-size: 14px;
          margin-bottom: 20px;
          color: #fff;
        }
      }
    }
  }
}

#speakers {
  padding: 60px 0 30px 0;
  .speaker-container {
    @include desktopMedia();

    .section-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      :before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-family: "Raleway", sans-serif;
        margin: 0 0 20px 0;
        padding: 0;
        color: #0e1b4d;
      }
      > p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #9195a2;
      }
    }
    .section-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      .section-item {
        flex: 0 0 30%;
        max-width: 30%;
        padding-right: 10px;
        padding-left: 10px;

        .details {
          transition: 1s;
          height: 6rem;
        }
        &:hover .details {
          height: 8rem;
        }

        .speaker {
          position: relative;
          overflow: hidden;
          margin-bottom: 30px;
          img {
            max-width: 100%;
            height: auto;
          }
          .details {
            background: rgba(6, 12, 34, 0.76);
            position: absolute;
            left: 0;
            bottom: -30px;
            right: 0;
            text-align: center;
            padding-top: 10px;
            cursor: pointer;

            h3 {
              color: #fff;
              font-size: 20px;
              font-weight: 600;
              margin-bottom: 5px;
              font-family: "Raleway", sans-serif;
            }
            p {
              color: #fff;
              font-size: 15px;
              margin-bottom: 10px;
              font-style: italic;
            }
            .social {
              height: 30px;
              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

#schedule {
  padding: 60px 0 30px 0;
  background-color: #f6f7fd;
  .schedule-container {
    @include desktopMedia();

    .schedule-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      ::before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        color: #0e1b4d;
      }
      > p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #9195a2;
      }
    }
    .days {
      text-align: center;
      margin: auto;
      border-bottom: 0;
      margin-bottom: 30px;

      .day-item:first-child a {
        background-color: #f82249;
        color: #fff;
      }

      .day-item {
        display: inline-block;

        a {
          border: none;
          border-radius: 50px;
          font-weight: 600;
          background-color: #0e1b4d;
          color: #fff;
          padding: 10px 100px;
        }
      }
    }
    .sub-heading {
      width: 75%;
      font-weight: 400;
      text-align: center;
      font-size: 18px;
      font-style: italic;
      margin: 0 auto 30px auto;
      color: #0e1b4d;
    }

    .schedule-block {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      .schedule-item {
        border-bottom: 1px solid #cad4f6;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-wrap: wrap;

        .time {
          flex: 0 0 16%;
          max-width: 16%;
        }
        .speaker-schedule {
          flex: 0 0 84%;
          max-width: 84%;
          h4 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #0e1b4d;
            span {
              font-style: italic;
              color: #19328e;
              font-weight: normal;
              font-size: 16px;
            }
          }
          p {
            font-style: italic;
            color: #152b79;
            margin-bottom: 0;
          }
          .speaker-schedule-img {
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 50%;
            float: left;
            margin: 0 10px 10px 0;
            img {
              height: 100%;
              transform: translateX(-50%);
              margin-left: 50%;
              transition: all ease-in-out 0.3s;
            }
          }
        }
      }
    }
  }
}

#venue {
  padding: 60px 0;
  .venue-container {
    margin-bottom: 3px;
    @include desktopMedia();
    .venue-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      ::before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        color: #0e1b4d;
      }
      > p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #9195a2;
      }
    }

    .map-block {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 10px;
      .map {
        flex: 0 0 50%;
        max-width: 50%;
        iframe {
          width: 100%;
          height: 100%;
          min-height: 300px;
        }
      }
      .venue-info {
        flex: 0 0 50%;
        max-width: 50%;
        height: auto;
        background: url(../img/venue-info-bg.jpg) top center no-repeat;
        background-size: cover;
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;

        > div {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center;
          content: "";
          background: rgba(13, 20, 41, 0.8);
          position: absolute;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;

          > div {
            flex: 0 0 66%;
            max-width: 66%;

            h3 {
              font-size: 36px;
              font-weight: 700;
              color: #fff;
              margin: 0 0 20px 0;
            }

            p {
              color: #fff;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .gallery-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .gallery-item {
        flex: 0 0 25%;
        max-width: 25%;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

#hotels {
  padding: 60px 0;
  .hotels-container {
    margin-bottom: 3px;
    @include desktopMedia();
    .hotels-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      ::before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        color: #0e1b4d;
      }
      > p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #9195a2;
      }
    }

    .hotel-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .hotel {
        flex: 0 0 33%;
        max-width: 33%;
        border: 1px solid #e0e5fa;
        background: #fff;
        margin-bottom: 30px;
        .hotel-img {
          margin-bottom: 15px;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        h3 {
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 5px;
          padding: 0 20px;
          a {
            color: #152b79;
            text-decoration: none;
          }
        }
        .stars {
          padding: 0 20px;
          margin-bottom: 5px;
          .fa-star {
            color: #ffc31d;
          }
          .fa-star-half-full {
            color: #ffc31d;
          }
        }
        p {
          padding: 0 20px;
          margin-bottom: 20px;
          color: #060c22;
          font-style: italic;
          font-size: 15px;
        }
      }
    }
  }
}

#gallery {
  overflow-x: hidden;
  padding: 60px 0;
  .gallery-container {
    margin-bottom: 3px;
    @include desktopMedia();
    .gallery-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      ::before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        color: #0e1b4d;
      }
      > p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #9195a2;
      }
    }

    .carusel-block {
      display: flex;
      flex-wrap: wrap;
      overflow: visible;
      width: 1900px;
      transform: translate3d(-400px, 0px, 0px);
      .carusel-item {
        width: 236.4px;
        img {
          display: block;
          width: 95%;
        }
      }
    }
    .dots-block {
      margin-top: 25px;
      text-align: center;
      .dot {
        display: inline-block;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ddd;
      }
      .dot-active {
        display: inline-block;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #f82249;
      }
    }
  }
}

#sponsors {
  padding: 60px 0;
  background-color: #f6f7fd;
  .sponsors-container {
    margin-bottom: 3px;
    @include desktopMedia();
    .sponsors-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      ::before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        color: #0e1b4d;
      }
    }

    .sponsors-block {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-top: 1px solid #d6eaff;
      border-left: 1px solid #d6eaff;
      margin-bottom: 30px;
    }

    .sponsors-item {
      flex: 0 0 25%;
      max-width: 25%;
      cursor: pointer;
      &:hover img {
        max-width: 95%;
      }
    }

    .sponsors-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #d6eaff;
      border-bottom: 1px solid #d6eaff;
      overflow: hidden;
      background: #fff;
      height: 160px;

      > img {
        max-width: 80%;
        height: auto;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

#faq {
  padding: 60px 0;
  .faq-container {
    margin-bottom: 3px;
    @include desktopMedia();
    .faq-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      ::before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        color: #0e1b4d;
      }
    }
    .faq-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .faq-list {
        width: 70%;
        li {
          border-bottom: 1px solid #ddd;
          a {
            color: #000;
            padding: 18px 0;
            display: block;
            position: relative;
            font-family: "Raleway", sans-serif;
            font-size: 13px;
            line-height: 24px;
            font-weight: 600;
            padding-right: 20px;
            cursor: pointer;
            .fa-plus-circle {
              display: block;
              font-size: 20px;
              position: absolute;
              right: 0;
              top: 16px;
            }
            .fa-minus-circle {
              display: none;
              font-size: 20px;
              position: absolute;
              right: 0;
              top: 16px;
            }
          }
          div {
            display: none;
            p {
              margin-bottom: 20px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

#subscribe {
  padding: 60px;
  background: url(../img/subscribe-bg.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 30vh;
  .subscribe-container {
    margin-bottom: 3px;
    @include desktopMedia();
    content: "";
    background: rgba(6, 12, 34, 0.6);
    position: absolute;
    bottom: -10px;
    top: 0;
    left: 0;
    right: 0;

    .subscribe-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      padding-top: 50px;

      ::before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        color: #fff;
      }
      > p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
      }
    }

    .form-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      div {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
        padding-right: 5px;
        padding-left: 5px;
        input {
          min-width: 400px;
          background: #fff;
          color: #060c22;
          border: 0;
          outline: none;
          margin: 0;
          padding: 9px 20px;
          border-radius: 50px;
          font-size: 14px;
        }
        button {
          border: 0;
          padding: 9px 25px;
          cursor: pointer;
          background: #f82249;
          color: #fff;
          transition: all 0.3s ease;
          outline: none;
          font-size: 14px;
          border-radius: 50px;
        }
      }
    }
  }
}

#tickets {
  padding: 60px 0;
  background-color: #f6f7fd;
  .tickets-container {
    margin-bottom: 3px;
    @include desktopMedia();
    .tickets-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      ::before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        color: #0e1b4d;
      }
      > p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #9195a2;
      }
    }

    .card {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      margin-top: 3rem;

      .card-body {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: #ffffff;
        box-sizing: border-box;
        flex: 0 0 25%;
        margin: 1rem;
        padding: 1rem;
        border: none;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);

        h3 {
          text-align: center;
          margin: 10px 0;
          font-size: 14px;
          letter-spacing: 1px;
          font-weight: bold;
          opacity: 0.7;
        }
        h2 {
          font-family: "Raleway", sans-serif;
          text-align: center;
          font-size: 48px;
          font-weight: 400;
          margin: 0;
          padding: 0;
          color: #0e1b4d;
        }
        hr {
          margin: 25px 0;
          border: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
        ul {
          li {
            margin-bottom: 20px;
            position: relative;

            .fa-check {
              left: -2.14285714em;
              width: 2.14285714em;
              top: 0.14285714em;
              text-align: center;
            }
          }
          .text-muted {
            opacity: 0.7;
            .fa-times {
              left: -2.14285714em;
              width: 2.14285714em;
              top: 0.14285714em;
              text-align: center;
            }
          }
        }
        div {
          text-align: center;
          button {
            font-size: 15px;
            border-radius: 50px;
            padding: 10px 40px;
            transition: all 0.2s;
            background-color: #f82249;
            border: 0;
            color: #fff;
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }
}

#contact {
  padding: 60px 0;
  background-color: #f6f7fd;
  .contact-container {
    margin-bottom: 3px;
    @include desktopMedia();
    .contact-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      ::before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        color: #0e1b4d;
      }
      > p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #9195a2;
      }
    }

    .contact-info {
      margin-bottom: 20px;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      .contact-item {
        flex: 0 0 33%;
        max-width: 33%;
        padding: 20px 0;
        h3 {
          font-family: "Raleway", sans-serif;
          font-size: 18px;
          margin-bottom: 15px;
          font-weight: bold;
          text-transform: uppercase;
          color: #112363;
        }
        p {
          margin-bottom: 0;
          color: #112363;
        }
      }
    }

    .contact-form {
      width: 100%;
      .first-form-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 1rem;

        div {
          width: 50%;

          input {
            width: 95%;
            border-radius: 0;
            box-shadow: none;
            font-size: 15px;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            padding: 10px 5px;
          }
        }
      }
      .form-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        div {
          input {
            padding: 10px 10px;
            border-radius: 0;
            box-shadow: none;
            font-size: 15px;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
          }
        }

        input {
          padding: 10px 14px;
          border-radius: 0;
          box-shadow: none;
          font-size: 15px;
          display: block;
          width: 100%;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
        }

        textarea {
          padding: 17px 14px;
          border-radius: 0;
          box-shadow: none;
          font-size: 15px;
          display: block;
          width: 100%;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
        }
      }

      text-align: center;
      button {
        background: #f82249;
        border: 0;
        padding: 10px 40px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
        cursor: pointer;
      }
    }
  }
}

#links {
  background: #101522;
  color: #eee;
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;

  div {
    background: #040919;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .event-block {
      max-width: 25%;
      @include footBlock();
      img {
        height: 40px;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: "Raleway", sans-serif;
        color: #fff;
      }
    }

    .links-block {
      flex: 0 0 20%;
      max-width: 50%;
      h4 {
        font-family: "Raleway", sans-serif;
        margin: 0 0 20px 0;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 12px;
        border-bottom: 2px solid #f82249;
      }

      ul {
        padding: 0;
        margin: 0;
        width: 100%;
        li {
          border-bottom: 1px solid #262c44;
          padding: 10px 0;
          .fa-angle-right {
            padding-right: 5px;
            color: #f82249;
            font-size: 18px;
          }
        }
      }
      .social {
        color: #eee;
        font-size: 14px;

        a {
          font-size: 18px;
          display: inline-block;
          background: #222636;
          color: #eee;
          line-height: 1;
          padding: 8px 0;
          margin-right: 4px;
          border-radius: 50%;
          text-align: center;
          width: 36px;
          height: auto;
          transition: 0.3s;
        }
      }
    }
  }
}

footer {
  background: #101522;
  color: #fff;
  text-align: center;
  padding: 3rem;
}

@media all and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .menubtn {
    display: inline !important;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 15px 15px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
    .fa-bars {
      color: white;
    }
    .fa-times {
      display: block;
      color: white;
    }
  }
  #nav-menu {
    .menu {
      @include flexbox(column);
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 998;
      overflow-y: auto;
      width: 0;
      padding-top: 18px;
      background: rgba(6, 12, 34, 0.98);
      transition: 0.4s;
      .closebtn {
        display: inline !important;
        position: relative;
        left: 15rem;
        background: transparent;
        border: none;
        font-size: 24px;
        transition: all 0.4s;
        outline: none;
        cursor: pointer;
        .fa-times {
          display: block;
          color: white;
        }
      }
      li {
        a {
          color: #fff;
          font-size: 18px;
          overflow: hidden;
          padding: 10px 22px 10px 15px;
          position: relative;
          text-decoration: none;
          width: 75%;
          display: block;
          outline: none;
        }
      }
    }
  }

  #intro {
    .intro-container {
      h1 {
        font-size: 34px;
      }
      p {
        font-size: 16px;
      }
    }
  }

  #about {
    .about-block {
      padding-right: 20px;
      padding-left: 20px;
      .about-container {
        flex-direction: column;
        .about-first-item {
          max-width: 90%;
        }
        .about-item {
          max-width: 90%;
        }
      }
    }
  }

  #speakers {
    .speaker-container {
      .section-block {
        flex-direction: column;
        .section-item {
          max-width: 90%;
        }
      }
    }
  }

  #schedule {
    .schedule-container {
      .days {
        .day-item {
          a {
            padding: 8px 45px;
          }
        }
      }
      .schedule-block {
        width: 100%;
        .schedule-item {
          width: 90%;
        }
      }
    }
  }

  #venue {
    .venue-container {
      .map-block {
        flex-direction: column;
        .map {
          max-width: 100%;
        }
        .venue-info {
          max-width: 100%;
          padding-top: 110px;
          padding-bottom: 110px;
          > div {
            > div {
              flex: 1;
              max-width: 90%;
            }
          }
        }
      }
      .gallery-container {
        flex-direction: column;
        .gallery-item {
          padding-bottom: 10rem;
          max-width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  #hotels {
    .hotels-container {
      .hotel-block {
        flex-direction: column;
        .hotel {
          padding-bottom: 10rem;
          max-width: 100%;
          .hotel-img {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  #gallery {
    overflow: hidden;
    padding: 60px 0;
    .gallery-container {
      margin-bottom: 3px;
      @include desktopMedia();
      .gallery-header {
        margin-bottom: 60px;
        position: relative;
        padding-bottom: 20px;
        ::before {
          content: "";
          position: absolute;
          display: block;
          width: 60px;
          height: 5px;
          background: #f82249;
          bottom: 0;
          left: calc(50% - 25px);
        }
        > h2 {
          font-size: 36px;
          text-transform: uppercase;
          text-align: center;
          font-weight: 700;
          margin-bottom: 10px;
          color: #0e1b4d;
        }
        > p {
          text-align: center;
          padding: 0;
          margin: 0;
          font-size: 18px;
          font-weight: 500;
          color: #9195a2;
        }
      }

      .carusel-block {
        display: flex;
        flex-wrap: wrap;
        overflow: visible;
        width: 2000px;
        transform: translate3d(-800px, 0px, 0px);
        .carusel-item {
          width: 13%;
          padding: 2px;
          img {
            display: block;
            width: 100%;
          }
        }
      }
      .dots-block {
        margin-top: 25px;
        text-align: center;
        .dot {
          display: inline-block;
          margin: 0 5px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ddd;
        }
        .dot-active {
          display: inline-block;
          margin: 0 5px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #f82249;
        }
      }
    }
  }

  #sponsors {
    .sponsors-container {
      .sponsors-block {
        flex-direction: column;
        .sponsors-item {
          max-width: 100%;
        }
      }
    }
  }
  #faq {
    .faq-container {
      .faq-block {
        .faq-list {
          width: 90%;
          li {
            a {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  #subscribe {
    .subscribe-container {
      .form-block {
        div {
          input {
            min-width: 10px;
          }
        }
      }
    }
  }

  #tickets {
    .tickets-container {
      .tickets-header {
        p {
          text-align: center;
          padding: 15px;
        }
      }
      .card {
        flex-direction: column;
        .card-body {
          width: 100%;
        }
      }
    }
  }

  #contact {
    .contact-container {
      .contact-info {
        align-content: center;
        flex-direction: column;
        .contact-item {
          max-width: 100%;
        }
      }
    }
  }

  #links {
    > div {
      flex-direction: column;
      .event-block {
        max-width: 95%;
      }
      .links-block {
        max-width: 95%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {  .menubtn {
    display: inline !important;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 15px 15px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
    .fa-bars {
      color: white;
    }
    .fa-times {
      display: block;
      color: white;
    }
  }
  #nav-menu {
    .menu {
      @include flexbox(column);
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 998;
      overflow-y: auto;
      width: 0;
      padding-top: 18px;
      background: rgba(6, 12, 34, 0.98);
      transition: 0.4s;
      .closebtn {
        display: inline !important;
        position: relative;
        left: 15rem;
        background: transparent;
        border: none;
        font-size: 24px;
        transition: all 0.4s;
        outline: none;
        cursor: pointer;
        .fa-times {
          display: block;
          color: white;
        }
      }
      li {
        a {
          color: #fff;
          font-size: 18px;
          overflow: hidden;
          padding: 10px 22px 10px 15px;
          position: relative;
          text-decoration: none;
          width: 75%;
          display: block;
          outline: none;
        }
      }
    }
  }
}
