* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #2f3138;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

// @keyframes formbottom {
//   from {
//     bottom: -30;
//   }
//   to {
//     bottom: 5px;
//   }
// }

@mixin desktopMedia {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@mixin flexbox($way) {
  display: flex;
  flex: wrap;
  flex-direction: $way;
}

#header {
  background: rgba(6, 12, 34, 0.98);
  height: auto;
  padding: 15px 0;
  transition: all 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;

  .header-container {
    @include desktopMedia();

    .logo {
      float: left;

      a {
        img {
          padding: 0;
          margin: 0;
          max-height: 40px;
        }
      }
    }
  }
  #nav-menu {
    float: right;
    margin: 10px;
    .menu {
      li {
        margin-left: 8px;
        float: left;

        a {
          padding: 8px;
          text-decoration: none;
          display: inline-block;
          color: rgba(202, 206, 221, 0.8);
          font-family: "Raleway", sans-serif;
          font-weight: 600;
          font-size: 14px;
          outline: none;
        }
      }
      li:first-child a {
        color: white;
      }
      .buy {
        a {
          color: #fff;
          background: #f82249;
          padding: 7px 22px;
          border-radius: 50px;
          border: 2px solid #f82249;
          transition: all ease-in-out 0.3s;
          font-weight: 500;
          margin-left: 8px;
          margin-top: 2px;
          line-height: 1;
          font-size: 13px;
        }
      }
    }
  }
}

#intro {
  width: 100%;
  height: 100vh;
  background: url(../img/intro-bg.jpg) top center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

  .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
    height: 100vh;
    background: rgba(6, 12, 34, 0.8);

    h1 {
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-size: 56px;
      font-weight: 600;
      text-transform: uppercase;
      span {
        color: #f82249;
      }
    }
    p {
      color: #ebebeb;
      font-weight: 700;
      font-size: 20px;
    }
    .play-btn {
      width: 94px;
      height: 94px;
      background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
      border-radius: 50%;
      display: block;
      position: relative;
      overflow: hidden;
      .fa-play {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        color: white;
      }
    }
    .about-btn {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 32px;
      border-radius: 50px;
      transition: 0.5s;
      line-height: 1;
      margin: 10px;
      color: #fff;
      border: 2px solid #f82249;
    }
  }
}

#about {
  background: url(../img/about-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  color: #fff;

  .about-block {
    padding: 60px 0 40px 0;
    @include desktopMedia();
    padding-right: 7rem;
    padding-left: 7rem;
    background: rgba(13, 20, 41, 0.8);

    .about-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .about-first-item {
        flex: 0 0 50%;
        max-width: 50%;

        h2 {
          font-size: 36px;
          font-weight: bold;
          margin-bottom: 10px;
          color: #fff;
        }
        p {
          width: 90%;
          font-size: 14px;
          margin-bottom: 20px;
          color: #fff;
        }
      }
      .about-item {
        flex: 0 0 25%;
        max-width: 25%;

        h3 {
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 10px;
          color: #fff;
        }
        p {
          width: 90%;
          font-size: 14px;
          margin-bottom: 20px;
          color: #fff;
        }
      }
    }
  }
}

#speakers {
  padding: 60px 0 30px 0;
  .speaker-container {
    @include desktopMedia();

    .section-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      :before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-family: "Raleway", sans-serif;
        margin: 0 0 20px 0;
        padding: 0;
        color: #0e1b4d;
      }
      > p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #9195a2;
      }
    }
    .section-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      .section-item {
        flex: 0 0 30%;
        max-width: 30%;
        padding-right: 10px;
        padding-left: 10px;
        transition: 5s;
        transition-duration: 5s;
        :hover .details {
          height: 8rem;
        }

        .speaker {
          position: relative;
          overflow: hidden;
          margin-bottom: 30px;
          img {
            max-width: 100%;
            height: auto;
          }
          .details {
            background: rgba(6, 12, 34, 0.76);
            position: absolute;
            left: 0;
            bottom: -30px;
            right: 0;
            text-align: center;
            padding-top: 10px;
            cursor: pointer;

            h3 {
              color: #fff;
              font-size: 20px;
              font-weight: 600;
              margin-bottom: 5px;
              font-family: "Raleway", sans-serif;
            }
            p {
              color: #fff;
              font-size: 15px;
              margin-bottom: 10px;
              font-style: italic;
            }
            .social {
              height: 30px;
              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

#schedule {
  padding: 60px 0 30px 0;
  background-color: #f6f7fd;
  .schedule-container {
    @include desktopMedia();

    .schedule-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      ::before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        color: #0e1b4d;
      }
      > p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #9195a2;
      }
    }
    .days {
      text-align: center;
      margin: auto;
      border-bottom: 0;
      margin-bottom: 30px;

      .day-item:first-child a {
        background-color: #f82249;
        color: #fff;
      }

      .day-item {
        display: inline-block;

        a {
          border: none;
          border-radius: 50px;
          font-weight: 600;
          background-color: #0e1b4d;
          color: #fff;
          padding: 10px 100px;
        }
      }
    }
    .sub-heading {
      width: 75%;
      font-weight: 400;
      text-align: center;
      font-size: 18px;
      font-style: italic;
      margin: 0 auto 30px auto;
      color: #0e1b4d;
    }

    .schedule-block {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      .schedule-item {
        border-bottom: 1px solid #cad4f6;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-wrap: wrap;

        .time {
          flex: 0 0 16%;
          max-width: 16%;
        }
        .speaker-schedule {
          flex: 0 0 84%;
          max-width: 84%;
          h4 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #0e1b4d;
            span {
              font-style: italic;
              color: #19328e;
              font-weight: normal;
              font-size: 16px;
            }
          }
          p {
            font-style: italic;
            color: #152b79;
            margin-bottom: 0;
          }
          .speaker-schedule-img {
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 50%;
            float: left;
            margin: 0 10px 10px 0;
            img {
              height: 100%;
              transform: translateX(-50%);
              margin-left: 50%;
              transition: all ease-in-out 0.3s;
            }
          }
        }
      }
    }
  }
}

#venue {
  padding: 60px 0;
  .venue-container {
    margin-bottom: 3px;
    @include desktopMedia();
    .venue-header {
      margin-bottom: 60px;
      position: relative;
      padding-bottom: 20px;
      ::before {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
      }
      > h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        color: #0e1b4d;
      }
      > p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #9195a2;
      }
    }

    .map-block {
      .map {

      }
      .venue-info {
        
      }
    }
  }
}
